@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    font-size: 1.125rem;
    font-family: "Open Sans", sans-serif;
    color: hsl(192, 100%, 9%);
  }
  h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 1.5rem;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 5rem;
  }
  nav button {
    padding: 0.5rem 3rem;
    color: hsl(322, 100%, 66%);
    border: 1px solid hsl(322, 100%, 66%);
    border-radius: 2rem;
    background: transparent;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
  }
  nav button:hover {
    color: hsl(321, 100%, 78%);
    border: 1px solid hsl(321, 100%, 78%);
  }
  header {
    max-width: 1100px;
    text-align: center;
    margin: 7rem auto;
  }